:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --font-color: #ffffff;
  --secondary-font-color: #2f303a;
  --third-font-color: #f5f4fa;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
html {
  box-sizing: border-box;
}
header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
body {
  background-color: var(--font-color);
  color: var(--primary-text-color);
  margin: 0;

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}
img {
  display: block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list .item:not(:last-child) {
  margin-right: 50px;
}
.list li:not(:last-child) {
  margin-right: 30px;
}
.list-item {
  margin-bottom: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
a {
  text-decoration: none;
}
.list-text {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.list-text li:not(:last-child) {
  margin-right: 30px;
}
.list-text-item {
  width: 270px;
}
.list-text-item::before {
  display: block;
  content: "";

  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--third-font-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.antenna::before {
  background-image: url(../images/antenna.svg);
}
.clock::before {
  background-image: url(../images/clock.svg);
}
.diagram::before {
  background-image: url(../images/diagram.svg);
}
.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */
.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent);
  margin-right: 93px;

  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--primary-text-color);
}
.accent-footer {
  color: var(--font-color);
}

.site-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent);
}
.site-nav .current {
  color: var(--accent);
}
.site-nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
  display: block;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.contacts-list a {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--accent);
}
.contacts-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.contacts-list .item + .item {
  margin-left: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* hero */
.hero {
  background-color: var(--secondary-font-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 40%),
      rgba(47, 48, 58, 40%)
    ),
    url("../images/hero.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--font-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work {
  padding-top: 0;
}

.section-title {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section h3 {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.section p {
  color: var(--secondary-text-color);
  margin-bottom: 0;
  margin-top: 0;
}
.section-our-team {
  background-color: var(--third-font-color);

  padding-top: 94px;
  padding-bottom: 94px;
}
.section-our-team p {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-our-team h3 {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* button */
button {
  color: var(--font-color);
  background: var(--accent);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
button:hover,
button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.filter-button {
  color: var(--primary-text-color);
  min-width: 73px;
  background-color: var(--third-font-color);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  box-shadow: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--font-color);
  background-color: var(--accent);
  border-radius: 4px;
  box-shadow: none;
}

/* footer */
.logo-footer {
  margin-bottom: 25px;
  display: block;
  margin-right: 0;
}

.list-footer {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;
}
.list-footer li:not(:last-child) {
  margin-bottom: 9px;
}
footer {
  background-color: var(--secondary-font-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  color: var(--font-color);
  margin-bottom: 9px;
}
.adress:hover,
.adress:focus {
  color: var(--accent);
}
.contacts-footer {
  color: #ffffff99;
  margin-bottom: 9px;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent);
}
address {
  font-style: normal;
}

/* porfolio */

.list-photo {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.list-element {
  margin-right: 30px;
  width: 370px;
  margin-bottom: 30px;
}
.list-element:nth-child(3n) {
  margin-right: 0;
}
.list-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-portfolio p {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
}
.link-portfolio h2 {
  color: var(--primary-text-color);
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-button {
  display: flex;
  list-style: none;
  margin: 0;

  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}
.list-photo-element {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.list-button li:not(:last-child) {
  margin-right: 8px;
}
